body{
	font:normal 20px/0px 'Open Sans',Helvetica,Arial,sans-serif;

}

h1{
	text-align: center;
	margin:100px;
	font-size: 60px;
}

#board{
    text-align:center;
}

#token{
    margin:20px;
}

.case{
    width:50px;
    height:50px;
    display:inline-block;
    border-style: solid;
    border-color: #ffffff;
}
.brown{
    background:#8B4513;
}
.white{
    background:#FFFFFF;
}

.chipwhite{

	background-image: url(white.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.chipblack{
	background-image: url(black.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

}

.selected{
     border-style: solid;
     border-color: #0000ff;
}