body{
	font:normal 30px/0px 'Open Sans',Helvetica,Arial,sans-serif;

}

h1{
	text-align: center;
	margin:100px
}

div{
    text-align:center;
}

.case{
    //border-style: solid;
    width:50px;
    height:50px;
    display:inline-block;
}
.brown{
    background:#8B4513;
}
.white{
    background:#FFFFFF;
}